<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <h2>Joaquin Knez</h2>
                    <h3 class="contacto">¡Contactános!</h3>
                    <a href="https://www.linkedin.com/in/joaquin-knez-8a9a81207/"><i class="fa-brands fa-linkedin"></i></a>
                    <br>
                    <i class="fa-solid fa-envelope"></i><p>jknez@udesa.edu.ar</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <h2>Ivan Fischman</h2>
                    <h3 class="contacto">¡Contactános!</h3>
                    <a href="https://www.linkedin.com/in/ivan-fischman-69337418b/"><i class="fa-brands fa-linkedin"></i></a>
                    <br>
                    <i class="fa-solid fa-envelope"></i><p>ifischman@udesa.edu.ar</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <h2>Juana Mendonca</h2>
                    <h3 class="contacto">¡Contactános!</h3>
                    <a href="https://www.linkedin.com/in/juana-mendonca-a6882a207/"><i class="fa-brands fa-linkedin"></i></a>
                    <br>
                    <i class="fa-solid fa-envelope"></i><p>jmendonca@udesa.edu.ar</p>
                </article>
            </div>
        </div>
    </div>
</footer>

