<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include("partials/head.ejs") %> 

<body>
	<!-- Header -->
	<%- include("partials/header.ejs") %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>

	<!-- <form action="/" method="GET">
		<div>
			<label>Usuario: </label>
			<input type="text" name="user">
		</div>
		<div>
			<label>Contraseña: </label>
			<input type="password" name="contrasenia">
		</div>
		<div>
			<label>Recordarme</label>
			<input type="checkbox" name="redordarme">
		</div>
		<div>
			<button type="submit"> Enviar </button>
		</div>
	</form> -->

    <div class="containerForm">
        <div class="contact-form">
            <form action="/" method="GET">
                <p>
                    <label class="formLabel">Nombre de usuario</label>
                    <input class="inputForm" type="text" name="name">
                </p>
                <p>
                    <label class="formLabel">Contraseña</label>
                    <input class="inputForm" type="password" name="password">
                </p>
                <p>
                    <label class="recordarmeLabel">Recordarme</label>
			        <input type="checkbox" name="recordarme">
                </p>
                <p class="block">
                    <button type="submit">
                        INGRESAR
                    </button>
                </p>
            </form>
        </div>
    </div>


	<!-- footer -->
	<%- include("partials/footer.ejs") %> 
	<!-- /footer -->
</body>

</html>