<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include("partials/head.ejs") %> 

<body>
	<!-- Header -->
	<%- include("partials/header.ejs") %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>

	<form action="/" method="GET">
		<div>
			<label>Usuario: </label>
			<input type="text" name="user">
		</div>
		<div>
			<label>Contraseña: </label>
			<input type="password" name="pasword">
		</div>
		<div>
			<label>Recordarme</label>
			<input type="checkbox" name="redordarme">
		</div>
		<div>
			<button type="submit"> Enviar </button>
		</div>

	</form>


	<!-- footer -->
	<%- include("partials/footer.ejs") %> 
	<!-- /footer -->
</body>

</html>