<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("partials/head.ejs") %> 
<!-- /Include Head -->
<body>
	<!-- Header -->
	<%- include("partials/headerLogueado.ejs") %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/products/products-add" method="GET">
                <div>
                    <label for="">Imagen</label>
                    <input type="file" name="file">
                </div>
                <div>
                    <label for="">Nombre del producto</label>
                    <input type="text" name="name"> <br>
                </div>
                <div>
                    <label for="">Descripcion</label>
                    <input type="text" name="descripcion"> <br>
                </div>
                <div>
                    <label for="">Fecha de Carga</label>
                    <input type="date" name="fechaCarga">
                </div>
                <div>
                    <button type="submit">Agregar producto </button>
                </div>
                
                </form>	


	<!-- footer -->
	<%- include("partials/footer.ejs") %> 
	<!-- /footer -->
</body>

</html>