<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include("partials/head.ejs") %> 

<body>
	<!-- Header -->
	<%- include("partials/header.ejs") %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
		<!-- 
		<form action="/routes/index.js" method="GET">
			<input type="text" name="usuario"> 
			<input type="email" name="email">
		</form>	
 -->

	<!-- footer -->
	<%- include("partials/footer.ejs") %> 
	<!-- /footer -->
</body>
</html>