.containerForm {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
    padding: 1em;
}

.contact-form {
    background: #222222;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    width: 55em;
}

.formLabel {
    display: block;
    margin-bottom: 5px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.block {
    grid-column: 1 / 3;
}

.contact-form form button,
.inputForm {
    width: 100%;
    padding: .7em;
    border: 1px solid rgb(7, 17, 161);
    background: none;
    color: #fff;
}

.contact-form form button {
    background: rgb(7, 17, 161);
    border: 0;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: rgb(7, 17, 161);
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

.recordarmeLabel{
    margin-bottom: 5px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

body {
  background-color: #141414;
  font-family: 'Open Sans', sans-serif;
}

.logotipo {
  font-family: 'Permanent Marker', cursive;
  font-weight: bold; 
  color: rgb(7, 17, 161);
  font-size: 21px;
}

.profileText{
    font-size: 25px;
    margin-bottom: 10px;
    color: #fff;
}

.datosProfile {
    color: #fff;
}

.main-header{
  background-color: black; 
}
.titulosNav {
  color: grey;
  font-size: 15px;
}

.products-title{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.imagenProducto{
    height: 40em;
}

.error {
    color: red
}